fastapi
uvicorn[standard]
python-multipart
anyio
httpx

python-dotenv
tavily-python

langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
langchain-text-splitters

chromadb
pypdf

chainlit
